.container {
    display: flex;
    flex-direction: column;
    background-color: hsl(216, 50%, 16%);
    border-radius: 10%;
    
    
}




.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    background-color: hsl(217, 54%, 11%);
    padding: 5%;
    outline: 2px white solid;
    font-size: 18px;
    color: hsl(215, 51%, 70%);
}


#equilibrium {
    width: 80%;
    max-height: 50%;
    margin: 10%;
    border-radius: 10%;
    outline: 2px yellow solid;
    border: 2px springgreen dashed;
    
}

h1 {
    color: hsl(0, 0%, 100%);
    outline: 2px green solid;
    text-align: left;
    width: 80%;
    margin: auto;
}


p {
    outline: 2px magenta dashed;
    margin: 0 10% 0 10%;

}

.avatar {
    border: white 2px solid;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    vertical-align: middle;
}